@import "./components/SlickSlider/style.scss";

.custom-slider {
    .custom-slider__item__container {
        outline: none;

        .custom-slider__item {
            width: 80%;
            padding-bottom: 70%;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter: grayscale(100%);
            transition: filter 300ms ease;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &:hover {
                cursor: pointer;
                filter: none;
            }
        }
    }
}