.slider {
    display: flex;
    justify-content: center;
    padding: 0 20px;

    .slider__items {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: hidden;
        padding: 20px 0;

        .items__thumbnail {
            width: 120px;
            min-width: 120px;
            max-width: 120px;
            height: 80px;
            margin: 0 10px;
            transition: opacity 300ms ease, filter 300ms linear;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            filter: grayscale(1);


            &:hover,
            &.items__thumbnail--active {
                filter: grayscale(0);
                //box-shadow: 0 5px 3px -1px rgb($fill-color-theme, 49%), 0 -5px 3px -1px rgb($fill-color-theme, 49%);
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media (min-width: 992px) {
}
