.watermarks {
    .watermarks__uploader {
        .custom-file {
            &:hover {
                cursor: pointer;
            }
        }
    }

    .watermarks__list {
        .watermarks__list__row {
            display: flex;
            flex-direction: column;
            border-bottom: solid 1px #DDDDDD;

            .row_images {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .images__image {
                    width: auto;
                    padding: 10px;
                }
            }

            .row_editor {
            }
        }
    }
}

@media (min-width: 992px) {
    .watermarks {
        .watermarks__list {
            .watermarks__list__row {
                .row_images {
                    flex-direction: row;
                }
            }
        }
    }
}
