.custom-slider {
    .slick-slider {
        .slick-dots {
            bottom: -35px;

            li {
                &.slick-active {
                    button {
                        &::before {
                            color: $fill-color-primary;
                        }
                    }
                }

                button {
                    &::before {
                        font-size: 10px;
                        color: $fill-color-primary;
                    }
                }
            }
        }
    }

    &.custom-slider--inverted {
        .slick-slider {
            .slick-dots {
                bottom: -35px;

                li {
                    &.slick-active {
                        button {
                            &::before {
                                color: #FFFFFF;
                            }
                        }
                    }

                    button {
                        &::before {
                            font-size: 10px;
                            color: #FFFFFF;
                        }
                    }
                }
            }
        }
    }
}
