@import "./components/Slider/style.scss";

$default-background-color: #000000F2;
$default-fullscreen-background-color: #000000;
$default-text-color: #FFFFFF;

$inverted-background-color: #FFFFFFF7;
$inverted-fullscreen-background-color: #FFFFFF;
$inverted-text-color: #000000;


@keyframes gallery-fade-in {
    from {
        opacity: 0;
        background: #00000000;
    }

    to {
        opacity: 1;
        background: $default-background-color;
    }
}

@keyframes gallery-fade-in {
    from {
        opacity: 0;
        background: #FFFFFF00;
    }

    to {
        opacity: 1;
        background: $inverted-background-color;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: gallery-fade-in 300ms ease;
    background: $default-background-color;
    z-index: 100;
    color: $default-text-color;

    &.gallery--inverted {
        background: $inverted-background-color;
        color: $inverted-text-color;

        &.gallery--fullscreen {
            .gallery__header {
                .header__icons {
                    .icons__icon {
                        background-color: $inverted-background-color;
                    }
                }
            }

            .gallery__image {
                background-color: $inverted-fullscreen-background-color;
                border: solid 20px $inverted-fullscreen-background-color;
            }
        }

        .gallery__header {
            .header__icons {
                .icons__icon {
                    svg {
                        path {
                            fill: $inverted-text-color;
                        }
                    }
                }
            }
        }
    }

    &.gallery--fullscreen {
        .gallery__header {
            z-index: 140;

            .header__icons {
                opacity: .8;

                .icons__icon {
                    background-color: $default-background-color;
                    border-radius: 3px;
                    opacity: .6;
                }
            }
        }

        .gallery__image {
            width: 100%;
            height: 100vh;
            margin: 0;
            position: absolute;
            top: 0;
            z-index: 130;
            background-color: $default-fullscreen-background-color;
            border: solid 20px $default-fullscreen-background-color;
            box-sizing: border-box;
        }
    }

    .gallery__target {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 110;

        &:hover {
            cursor: pointer;
        }
    }

    .gallery__header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 20px;

        .header__state {
            display: flex;
            flex: 1 1 0;
            justify-content: flex-start;
            z-index: 120;

            .state__counts {
                height: 32px;
                display: flex;
                align-items: center;
                font-size: 14px;
                z-index: 120;
            }
        }

        .header__about {
            display: none;
            flex: 1 1 0;
            z-index: 120;

            .about__title {
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                z-index: 120;
            }

            .about__description {
                font-size: 16px;
                text-align: center;
                z-index: 120;
            }
        }

        .header__icons {
            display: flex;
            flex: 1 1 0;
            justify-content: flex-end;
            z-index: 120;

            .icons__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                opacity: .6;
                transition: opacity 300ms ease;
                z-index: 120;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }

                &:not(:last-child) {
                    margin-right: 15px;
                }

                svg {
                    path {
                        fill: $default-text-color;
                    }
                }
            }
        }
    }

    .gallery__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .gallery__slider {
        width: 100%;
        padding: 20px;
        z-index: 120;
    }
}
