@import "./components/WorkUploader/style.scss";

.chooseFileButton,
.upload-button {
    width: 150px;
}

.upload-button {
    padding: 6px 23px;
    background: #3F4257;
    border-radius: 30px;
    color: white;
    font-weight: 300;
    font-size: 14px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    cursor: pointer;
    outline: none;
    border: none;

    &:hover {
        background: #545972;
    }
}

.workListItems {
    display: flex;
    flex-wrap: wrap;

    .workListItem {
        $margin: 2%;

        margin: $margin;
        background-color: #E4E4E4;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        opacity: .8;
        border-radius: 4px;
        box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .35);
        min-width: 10px;
        min-height: 10px;

        @media (min-width: 0px) {
            width: ((100% / 1) - ($margin * 2));
        }

        @media (min-width: 576px) {
            width: ((100% / 2) - ($margin * 2));
        }

        @media (min-width: 768px) {
            width: ((100% / 3) - ($margin * 2));
        }

        @media (min-width: 992px) {
            width: ((100% / 4) - ($margin * 2));
        }

        @media (min-width: 1200px) {
            width: ((100% / 5) - ($margin * 2));
        }

        &:hover {
            opacity: 1;
            cursor: pointer;
            box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .7);
        }

        &:before {
            content: "";
            float: left;
            padding-top: 100%;
        }
    }
}
