@import "./../../../../../../style/variables.scss";

.about-wrapper {
    min-height: 100vh;
    padding: 0 15px;
    background-color: $fill-color-secondary;
    color: #FFFFFF;
    //font-family: 'Truculenta', sans-serif;

    .about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        .about__avatar {
            width: 240px;
            height: 240px;
            margin: 48px auto;
            border-radius: 100%;
            background-image: url('images/portfolio/about/avatar.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .about__name {
            font-size: 32px;
            font-weight: bold;
        }

        .about__section {
            .about__section__title {
                font-size: 24px;
                font-weight: bold;
                margin: 1em 0;
            }

            .about__section__text {
                margin-bottom: 3em;
                font-style: italic;
                font-size: 16px;

                .about__section__text__description {
                    text-align: justify;

                    p {
                        margin-bottom: .5em;

                        &.paragraph--indent {
                            text-indent: 1em;
                        }
                    }
                }

                .about__section__text__signature {
                    text-align: right;
                    font-weight: bold;
                }
            }
        }

        .about__delimeter {
            margin: 10px 0;
            border-bottom: solid 1px #FFFFFF;
        }

        .about__social {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 48px 0;

            .social__icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                margin: 0 8px;
                opacity: .6;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .about-wrapper {
        .about {
            width: 440px;

            .about__name {
                font-size: 42px;
            }

            .about__description {
                font-size: 22px
            }

            .about__text {
                font-size: 16px;
            }
        }
    }
}


@media (min-width: 992px) {
    .about-wrapper {
        .about {
            width: 660px;

            .about__name {
                font-size: 48px;
            }

            .about__description {
                font-size: 24px
            }

            .about__text {
                font-size: 18px;
            }
        }
    }
}
