@import "~bootstrap/scss/bootstrap";
@import "./components/Application/style.scss";
@import "./../common/components/Gallery/style.scss";
@import "./style/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700|Montserrat&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    //font-family: 'Lato', sans-serif;
}

.my-button {
    padding: 12px 36px;
    background-color: $fill-color-primary;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
    outline: none !important;

    &:focus {
        outline: none !important;
    }

    &:disabled {
        opacity: .6;
    }

    &:hover {
        background-color: $fill-color-theme;
        cursor: pointer;

        &:disabled {
            background-color: $fill-color-primary;
            cursor: not-allowed;
        }
    }
}
