.workEditor {
    .positionGrid {
        $size: 40px;

        display: grid;
        grid-template-rows: $size $size $size;
        grid-template-columns: $size $size $size;

        &.positionGrid--disabled {
            opacity: .2;

            &:hover {
                .positionGrid__item {
                    cursor: not-allowed;
                }
            }
        }

        .positionGrid__item {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #252525;
            background: #FFFFFF;

            svg {
                opacity: .3;
            }

            &.positionGrid__item--active {
                background: #C5C5C5;

                svg {
                    opacity: 1;
                }
            }

            &:hover {
                cursor: pointer;

                svg {
                    opacity: 1;
                }
            }

            &:nth-child(3n+4) {
                clear: left;
                margin-left: 0;
            }

            &:nth-child(n+4) {
                margin-top: -1px;
            }

            &:first-child {
                border-top-left-radius: 4px !important;
                border-right-width: 0;
            }

            &:nth-child(3) {
                border-top-right-radius: 4px !important;
                border-left-width: 0;
            }

            &:nth-child(4) {
                border-right-width: 0;
            }

            &:nth-child(6) {
                border-left-width: 0;
            }

            &:nth-last-child(3) {
                border-bottom-left-radius: 4px !important;
                border-right-width: 0;
            }

            &:last-child {
                border-bottom-right-radius: 4px !important;
                border-left-width: 0;
            }
        }
    }
}
