.fileUploader {
    .fileContainer {
        box-shadow: none;

        .uploadPicturesWrapper {
            .uploadPictureContainer {
                position: relative;
                width: 100%;
                margin: 10px;
                padding: 0;
                border-radius: 4px;
                border: none;
                -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .35);
                -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .35);
                box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .35);

                &:hover {
                    -webkit-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .7);
                    -moz-box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .7);
                    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, .7);
                }

                img {
                    border-radius: 4px;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .fileUploader {
        .fileContainer {
            .uploadPicturesWrapper {
                .uploadPictureContainer {
                    width: 160px;
                }
            }
        }
    }
}
