@import "./../../../../../../../../../../style/variables.scss";

.category__header {
    margin: 2em;

    .header__title {
        text-align: center;
        color: $fill-color-theme;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 8px;
    }

    .header__description {
        padding: 32px 0;
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1em;
        text-transform: uppercase;
    }

    &.category__header--inverted {
        .header__description {
            color: #FFFFFF;
        }
    }
}


@media (min-width: 576px) {
    .category__header {
        .header__title {
            font-size: 14px;
        }

        .header__description {
            font-size: 48px;
        }
    }
}
