@keyframes right-to-left-in {
    from {
        margin-left: 60px;
    }

    to {
        margin-left: 10px;
    }
}

@keyframes left-to-right-in {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 10px;
    }
}

@keyframes right-to-left-out {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 60px;
    }
}

@keyframes left-to-right-out {
    from {
        margin-left: 10px;
    }

    to {
        margin-left: 0;
    }
}
