@import "./../../../../../../../../../../../../style/variables.scss";

.masonry {
    display: flex;
    width: auto;

    .masonry__column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-clip: padding-box;

        &:not(:first-child) {
            margin-left: 20px;
        }

        .column__item {
            display: block;
            position: relative;
            margin-bottom: 20px;
            overflow: hidden;
            background: $fill-color-secondary;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: grayscale(100%);

            .item__overlay {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                padding-top: 10px;
                padding-bottom: 10px;
                position: absolute;
                bottom: 0;
                opacity: 0;
                background-color: rgba($fill-color-primary, .6);
                transition: opacity 300ms ease;


                .overlay__title {
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 16px;
                    white-space: nowrap;
                    animation: left-to-right-out 300ms ease;
                }

                .overlay__desc {
                    color: #FFFFFF;
                    font-size: 12px;
                    white-space: nowrap;
                    animation: right-to-left-out 300ms ease;
                }
            }
        }
    }
}

@media (min-width: 0) and (max-width: 575.9px) {
    .masonry {
        .masonry__column {
            .column__item {
                &.column__item--is-visible {
                    cursor: pointer;
                    filter: none;

                    .item__overlay {
                        opacity: 1;

                        .overlay__title {
                            animation: left-to-right-in 300ms ease;
                            margin-left: 10px;
                        }

                        .overlay__desc {
                            animation: right-to-left-in 300ms ease;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.9px) {
    .masonry {
        .masonry__column {
            .column__item {
                &.column__item--is-visible {
                    cursor: pointer;
                    filter: none;

                    .item__overlay {
                        opacity: 1;

                        .overlay__title {
                            animation: left-to-right-in 300ms ease;
                            margin-left: 10px;
                        }

                        .overlay__desc {
                            animation: right-to-left-in 300ms ease;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .masonry {
        .masonry__column {
            .column__item {
                &:hover {
                    cursor: pointer;
                    filter: none;

                    .item__overlay {
                        opacity: 1;

                        .overlay__title {
                            animation: left-to-right-in 300ms ease;
                            margin-left: 10px;
                        }

                        .overlay__desc {
                            animation: right-to-left-in 300ms ease;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}