@media (min-width: 0) and (max-width: 575.9px) {
    .masonry {
        .masonry__column {
            .visibility-tracker {
                .column__item {
                    padding-bottom: 57%;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.9px) {
    .masonry {
        .masonry__column {
            &:nth-child(odd) {
                .visibility-tracker {
                    .column__item {
                        padding-bottom: 60%;
                    }
                }
            }

            &:nth-child(even) {
                .visibility-tracker {
                    .column__item {
                        padding-bottom: 77%;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .masonry {
        .masonry__column {
            &:nth-child(2n) {
                .visibility-tracker {
                    .column__item {
                        padding-bottom: 57%;
                    }

                    &:nth-child(3n + 2),
                    &:nth-child(3n + 3) {
                        .column__item {
                            padding-bottom: 85%;
                        }
                    }
                }
            }

            .visibility-tracker {
                .column__item {
                    padding-bottom: 85%;
                }

                &:nth-child(3n) {
                    .column__item {
                        padding-bottom: 57%;
                    }
                }
            }
        }
    }
}