@import "./../../../../../../../../style/variables.scss";

.work__header {
    .header__title {
        padding: 36px 0;
        text-align: center;
        color: $fill-color-theme;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 10px;
    }

    .header__description {
        text-align: center;
        color: $fill-color-primary;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 1em;
    }
}


@media (min-width: 576px) {
    .work__header {
        .header__title {
            font-size: 16px;
        }

        .header__description {
            font-size: 64px;
        }
    }
}
