@import "./components/Common/components/CategoryHeader/style.scss";
@import "./components/GraphicDesign/style.scss";
@import "./components/Header/style.scss";
@import "./components/Navigation/style.scss";
@import "./components/Photography/style.scss";
@import "./components/Project/style.scss";
@import "./../../../../../../style/variables.scss";

.work-category {
    padding: 32px 0;

    &.work-category--spacing {
        padding: 64px 0;
    }

    &.work-category--header {
    }

    .work-category--navigation {
    }

    &.work-category--photography {
    }

    &.work-category--graphic-design {
        background-color: $fill-color-primary;
    }

    &.work-category--art {
    }

    &.work-category--project {
        background-color: $fill-color-primary;
        min-height: 600px;
        color: #DADADA;
    }
}
