@import "./../../../../style/variables.scss";

.navbar {
    position: absolute;
    width: 100%;
    background-color: $fill-color-primary;
    z-index: 1;

    .navbar-brand {
        display: flex;
        align-items: center;
        color: #FFFFFF;
        font-family: 'Dancing Script', serif;
        font-weight: bold;
        font-size: 32px;

        &:hover {
            color: #FFFFFF;
        }
    }

    .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25px;
        height: 25px;
        margin-right: 14px;
        border: none;
        outline: 0;

        .icon-bar {
            display: block;
            width: 26px;
            height: 3px;
            background-color: #FFFFFF;
            border-radius: 4px;
            transition: all 0.2s;

            &:nth-of-type(1) {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }

            &:nth-of-type(2) {
                opacity: 0;
                filter: alpha(opacity=0);
            }

            &:nth-of-type(3) {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            }
        }

        &.collapsed {
            .icon-bar {
                &:nth-of-type(1) {
                    transform: rotate(0);
                }

                &:nth-of-type(2) {
                    opacity: 1;
                    filter: alpha(opacity=100);
                }

                &:nth-of-type(3) {
                    transform: rotate(0);
                }
            }
        }
    }

    .navbar-collapse {
        .navbar-nav {
            .nav-link {
                margin: 0;
                padding: 15px 0;
                font-size: 14px;
                letter-spacing: normal;
                text-transform: uppercase;
                color: $text-color-light;

                &:not(:last-child) {
                    border-bottom: 1px solid $fill-color-secondary;
                }
            }

            span {
                display: none;
            }
        }
    }
}

@media (min-width: 576px) {
    .navbar {
        &.navbar-expand-lg {
            .navbar-collapse {
                .navbar-nav {
                    .nav-link {
                        margin: 0 44px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .navbar {
        position: relative;

        &.navbar-expand-lg {
            .navbar-toggler {
                display: none !important;
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-link {
                        margin: 0 10px !important;
                        padding: 8px 8px 3px 8px;
                        font-size: 13px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        border-bottom: solid 2px transparent !important;

                        &:hover {
                            color: $fill-color-theme;
                            border-bottom: solid 2px $fill-color-theme !important;
                        }
                    }

                    span {
                        display: flex;
                        align-items: center;
                        color: $text-color-light;
                    }
                }
            }
        }
    }
}
