@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:400,700&display=swap');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~react-toggle/style.css';
@import './components/Work/style.scss';
@import './components/Watermarks/style.scss';
@import './../common/components/WorkEditor/style.scss';

div#app {
    .container {
        max-width: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    .collapse {
        .navbar-nav {
            width: 100%;
        }
    }
}

.btn {
    &:disabled {
        &:hover {
            cursor: not-allowed;
        }
    }
}
