.work-category--project {
    .project {
        filter: grayscale(100%);
        transition: filter 300ms ease;
        //font-family: 'Truculenta', sans-serif;
        color: inherit;

        &:hover {
            cursor: pointer;
            filter: none;
            color: inherit;
            text-decoration: none;
        }

        .project__logo {
            flex: 0 0 200px;
            height: 200px;
            background-image: url('https://podpsa.sk/assets/images/project/podpsa-color.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .project__body {
            .project__body__title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 18px;
            }

            .project__body__description {
                font-size: 16px;
                font-style: italic;
                text-align: justify;
            }
        }
    }
}