@import "./../../../../../../../../style/variables.scss";

.workNavigationList {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;

    .workNavigationList__item {
        margin: 0 16px 0 16px;
        font-size: 13px;
        color: $text-color-light;
        font-family: 'Montserrat', serif;

        &:hover {
            cursor: pointer;
            color: $fill-color-primary;
            text-decoration: none;
        }
    }
}
