@import "./components/Content/style.scss";
@import "./components/Navigation/style.scss";

.navbar__content__spacing {
    height: 56px;
}

@media (min-width: 992px) {
    .navbar__content__spacing {
        height: 0;
    }
}
